# Activate Python virtual environment
source .venv/bin/activate

# Switch Node version
[ -f .nvmrc ] && nvm use

# Load local environment variables from .env
dotenv

# Set shared defaults (can be overridden by .env)
export NODE_ENV=${NODE_ENV:-development}
export PYTHONUNBUFFERED=1